@font-face {
    font-family: 'Montserrat';
    src: url("/rsschool-cv/assets/fonts/Montserrat/static/Montserrat-Medium.ttf");
    font-weight: 400;
}

@font-face {
    font-family: 'Montserrat';
    src: url("/rsschool-cv/assets/fonts/Montserrat/static/Montserrat-Bold.ttf");
    font-weight: 700;
}

body {
    font-family: "Montserrat", Arial, sans-serif;
}