@font-face {
    font-family: 'Montserrat';
    src: url("/rsschool-cv/assets/fonts/Montserrat/static/Montserrat-Medium.ttf");
    font-weight: 400;
}

@font-face {
    font-family: 'Montserrat';
    src: url("/rsschool-cv/assets/fonts/Montserrat/static/Montserrat-Bold.ttf");
    font-weight: 700;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    min-height: 100vh;

    margin: 0;
    padding: 0;

    font-family: "Montserrat", Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: black;

    background-color: white;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.container {    
    max-width: 1440px;
    margin: 0 auto;
}

.section-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section-wrapper section {
    width: 50%;
}

.page-header {
    background-color: #202026;
}

.navigation {
    font-size: 20px;
    line-height: 30px;
}

.navigation-list {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation-link {
    display: block;
    padding: 30px 20px;

    transition: 0.3s;

    color: white;
}

.navigation-link:hover,
.navigation-link:focus {
    color: black;
    background-color: white;
}

.main-index {
    margin-bottom: auto;
}

.profile {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    padding: 40px 0;
    margin-bottom: 20px;
    border-bottom: 10px solid gold;
}

.profile-image {
    order: 2;
    border-radius: 50%;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.7);
}

.profile-title {
    text-transform: uppercase;
    font-size: 45px;
    text-align: center;
}

.profile-subtitle {
    text-transform: uppercase;
    font-size: 22px;
    text-align: center;

}

.contacts {
    padding-left: 20px;
    margin-bottom: 50px;
}

.contacts-title {
    margin-bottom: 40px;
}

.contacts-list {
    padding: 0;
    padding-left: 30px;
    margin: 0;
    list-style: none;
}

.contacts-list li {
    position: relative;
    margin: 8px;
}

.contacts-list .country::before {  
    content: "";

    position: absolute;
    top: -2px;
    left: -40px;

    width: 30px;
    height: 30px;

    background-image: url("/rsschool-cv/assets/img/country.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.contacts-list .email::before {  
    content: "";

    position: absolute;
    top: -2px;
    left: -40px;

    width: 30px;
    height: 30px;

    background-image: url("/rsschool-cv/assets/img/email.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.contacts-list .github::before {  
    content: "";

    position: absolute;
    top: -2px;
    left: -40px;

    width: 30px;
    height: 30px;

    background-image: url("/rsschool-cv/assets/img/github.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.contacts-list .telegram::before {  
    content: "";

    position: absolute;
    top: -2px;
    left: -40px;

    width: 30px;
    height: 30px;

    background-image: url("/rsschool-cv/assets/img/telegram.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.contacts-list .discord::before {  
    content: "";

    position: absolute;
    top: -2px;
    left: -40px;

    width: 30px;
    height: 30px;

    background-image: url("/rsschool-cv/assets/img/discord.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.contacts-link {
    color: #202026;
}

.contacts-link:hover,
.contacts-link:focus {
    color: darkorange;
}

.summary {
    padding-left: 20px;
    margin-bottom: 50px;
}

.summary-title {
    margin-bottom: 40px;
}

.skills {
    position: relative;
    padding-left: 20px;
    margin-bottom: 50px;
}

.skills::before {
    content: "";

    position: absolute;
    top: -10px;
    left: 20px;

    width: 600px;
    height: 3px;

    background-color: gold;
}

.skills-title {
    margin-bottom: 40px;
}

.skills-list {
    padding: 0;
    padding-left: 30px;
    margin: 0;
    list-style: none;
}

.skills-item {
    position: relative;
    margin: 8px;
}

.skills-item::before {
    content: "";

    position: absolute;
    top: 7px;
    left: -30px;

    width: 12px;
    height: 12px;

    background-color: #202026;

    transform: rotate(45deg);
}

.code {
    position: relative;
    padding-left: 20px;
    margin-bottom: 50px;
}

.code::before {
    content: "";

    position: absolute;
    top: -10px;
    left: 20px;

    width: 600px;
    height: 3px;

    background-color: gold;
}

.code-title {
    margin-bottom: 40px;
}

pre {
    padding: 0;
    margin: 0;
}

.courses {
    position: relative;
    padding-left: 20px;
    margin-bottom: 50px;
}

.courses::before {
    content: "";

    position: absolute;
    top: -10px;
    left: 20px;

    width: 600px;
    height: 3px;

    background-color: gold;
}

.courses-title {
    margin-bottom: 40px;
}

.courses-list {
    padding: 0;
    padding-left: 30px;
    margin: 0;
    list-style: none;
}

.courses-item {
    position: relative;
    margin: 8px;
}

.courses-item::before {
    content: "";

    position: absolute;
    top: 7px;
    left: -30px;

    width: 12px;
    height: 12px;

    background-color: #202026;

    transform: rotate(45deg);
}

.courses-link {
    color: #202026;
}

.courses-link:hover,
.courses-link:focus {
    color: darkorange;
}

.projects {
    position: relative;
    padding-left: 20px;
    margin-bottom: 50px;
}

.projects::before {
    content: "";

    position: absolute;
    top: -10px;
    left: 20px;

    width: 600px;
    height: 3px;

    background-color: gold;
}

.projects-title {
    margin-bottom: 40px;
}

.projects-list {
    padding: 0;
    padding-left: 30px;
    margin: 0;
    list-style: none;
}

.projects-item {
    position: relative;
    margin: 8px;
}

.projects-item::before {
    content: "";

    position: absolute;
    top: 7px;
    left: -30px;

    width: 12px;
    height: 12px;

    background-color: #202026;

    transform: rotate(45deg);
}

.project-link {
    color: #202026;
}

.project-link:hover,
.project-link:focus {
    color: darkorange;
}

.education {
    position: relative;
    padding-left: 20px;
    margin-bottom: 70px;
}

.education::before {
    content: "";

    position: absolute;
    top: -10px;
    left: 20px;

    width: 600px;
    height: 3px;

    background-color: gold;
}

.education-title {
    margin-bottom: 40px;
}

.english {
    position: relative;
    padding-left: 20px;
    margin-bottom: 70px;
}

.english::before {
    content: "";

    position: absolute;
    top: -10px;
    left: 20px;

    width: 600px;
    height: 3px;

    background-color: gold;
}

.english-title {
    margin-bottom: 40px;
}

.page-footer {
    padding: 30px;
    color: white;
    background-color: #202026;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-link {
    margin-left: 30px;
    color: white;
}

.footer-link:hover,
.footer-link:focus {
    color: gold;
}

.rss-link:hover path,
.rss-link:focus path {
    fill: gold;
}

@media (max-width: 1440px) {
    .container {
        padding: 0 20px;
    }
    section::before {
        display: none;
    }
    .contacts {
        padding-bottom: 60px;
        border-bottom: 3px solid gold;
    }
    .summary {
        padding-bottom: 60px;
        border-bottom: 3px solid gold;
    }
    .skills {
        padding-bottom: 60px;
        border-bottom: 3px solid gold;
    }
    .code {
        padding-bottom: 60px;
        border-bottom: 3px solid gold;
    }
    .courses {
        padding-bottom: 60px;
        border-bottom: 3px solid gold;
    }
    .projects {
        padding-bottom: 60px;
        border-bottom: 3px solid gold;
    }
}

@media (max-width: 860px) {
    .section-wrapper section {
        width: 100%
    }
    .profile {
        flex-direction: column;
        align-items: center;
    }
    .education {
        padding-bottom: 60px;
        border-bottom: 3px solid gold;
    }
    .footer-wrapper {
        flex-direction: column;
        align-items: center;
    }
    .navigation {
        display: none;
    }
}

@media (max-width: 500px) {
    .profile-title {
        font-size: 40px;
        line-height: 1;
        letter-spacing: 10px;
    }
}